html, body {
    height: 100%;
    min-height: 100%;
}

.CodeMirror {
    position: relative;
    display: inline-block;
    z-index: 1;
    width: 45%;
    resize: both;
}

.Window {
    border-color: gray;
    border-style: solid;
}

#TextInputWindow {
    height: 75%; 
    max-width: 49%; 
    max-height: 75%;
    resize: both;
    overflow: auto !important;
    display: inline-block;
}
#Window1Div {
    width: 53%;
    height: 66%;
    position: relative;
    display: inline-block;
}

#GamePreviewWindow {
    width: 100%;
    height: 100%;
    resize: both; 
    overflow: auto; 
    float: left;
    max-width: 100%; 
    max-height: 100%;
    position: relative;
}

#ErrorWindow {
    width: 99%;
    max-width: 99%;
    resize: both;
    overflow: auto;
    height: 100%
}

#ErrorWindow p {
    margin-left: 2.5%;
    font-family: monospace, sans-serif;
}

.ConsoleText {
    color: green;
    font-size: 14px;
}

.ErrorText {
    color: red;
    font-weight: bold;
}

.ErrorFix {
    color: blue;
    font-style: italic;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.Dropdown {
    position: relative
}

button {
    height: 1.75em;
}

li button {
    font-weight: bold;
}

ul.Dropdown li.DropdownItem1, .DropdownItem2 {
    position: relative;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    top: 0px;
    cursor: default;
    padding-top: 0px;
    margin-top: 0px;
    font-family: monospace;
    z-index: 10;
}

ul.Dropdown li.DropdownItem1:hover, .DropdownItem2:hover {
    color: gray;
}

ul.Dropdown li.DropdownItem1:active, .DropdownItem2:active {
    color: yellow;
}

.DropdownDiv {
    float: right;
    height: 1.75em; 
    width: 2.2em; 
    margin-right: 5.5%; 
    margin-top: 1.5%;
    vertical-align: top;
}

.DropdownItem1 {
    margin-left: 0;
    padding-left: 0;
}