html, body {
    height: 100%;
    min-height: 100%;
}

.CodeMirror {
    position: relative;
    z-index: 1;
}

.Window {
    border-color: gray;
    border-style: solid;
}

#TextInputWindow {
    width: 49%; 
    height: 75%; 
    max-width: 49%; 
    max-height: 75%;
    resize: both;
    overflow: auto !important;
}

#GamePreviewWindow {
    width: 50%; 
    height: 75%; 
    resize: both; 
    overflow: auto; 
    float: left;
    max-width: 50%; 
    max-height: 65%
}

#ErrorWindow {
    width: 99%;
    max-width: 99%;
    max-height: 24%;
    resize: both;
    overflow: auto;
    height: 24%
}

#ErrorWindow p {
    margin-left: 2.5%;
    overflow-y: auto;
    font-family: monospace, sans-serif;
}

.ErrorText {
    color: red;
    font-weight: bold;
}

.ErrorFix {
    color: blue;
    font-style: italic;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.Dropdown {
    position: relative
}

button {
    height: 1.75em;
}

li button {
    font-weight: bold;
}

ul.Dropdown li.DropdownItem1, .DropdownItem2 {
    position: relative;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    top: 0px;
    cursor: default;
    padding-top: 0px;
    margin-top: 0px;
    font-family: monospace;
    z-index: 10;
}

ul.Dropdown li.DropdownItem1:hover, .DropdownItem2:hover {
    color: gray;
}

ul.Dropdown li.DropdownItem1:active, .DropdownItem2:active {
    color: yellow;
}

.DropdownDiv {
}

.DropdownItem1 {
    margin-left: 0;
    padding-left: 0;
}